.env
../Autogen/
../Autogen_projects/Agentic_Data_Analyser/README.md
dataset_generator.py
dspy_testing.ipynb
mock_eval_data1.json
ragas_eval.ipynb
ragas_wine_results_detailed1.csv
top_rated_wines.txt
archive
archive.zip