streamlit
langchain
langchain-community
langchain-core
langchain-groq
langchain-huggingface
langchain-openai
langchain-pinecone
pinecone
huggingface-hub
pydantic
python-dotenv
numpy
pandas
scikit-learn
matplotlib
tqdm
requests
altair
